<h1>Editing profesor</h1>

<% form_for(@profesor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profesor %> |
<%= link_to 'Back', profesors_path %>