<%= form_for(@compromiso) do |f| %>
  <% if @compromiso.errors.any? %>
  <div class="error">
    <div id="error_explanation">
      <h4><%= pluralize(@compromiso.errors.count, "error") %> no es posible grabar el compromiso:</h4>

      <ul>
      <% @compromiso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
<%
    @estudiantes = Estudiante.find_by_sql('SELECT E.codigoEstudiante,
                                                  E.nombreEstudiante,
                                                  E.tesis_id
                                             FROM Estudiantes E
                                                 ,Compromisos_Estudiantes EC
                                                 ,Compromisos C
                                            WHERE E.id = EC.Estudiante_id
                                              AND C.id = EC.Compromiso_id
                                              AND C.id = ' + params[:id])
    @estudiantes.each do |t|
      @tesis = Tese.find(t.tesis_id)
    end
%>
<h1>Modificar compromiso</h1>
<div class="CSS_Form">
  <strong><%= label_tag :Tesis %></strong><br/>
  <%= text_field(:tesis, :nombreTesis, :size => 70, :onfocus=>'blur();') %>

  <div class="field">
    <br/>
    <strong><%= f.label :asunto %></strong><br />
    <%= f.text_field :asunto %>
  </div>

  <div class="field">
    <br/><strong><%= f.label "Fecha límite" %></strong><br />
    <%= f.date_select :fechaLimite %>
  </div>
  <div class="field">
    <br/><strong><%= f.label "Descripción" %></strong><br />
    <%= f.text_area :descripcionCompromiso, :size => "99x5" %>
  </div>

 <div class="field">
    <p align="center" style="color:#ff7f00"><strong>Responsables</strong></p>
    <div class="CSSTableGenerator">
 <table align="left" border="1" width="80%" cellpadding="0" cellspacing="0">
        <tr>
          <td>CODIGO</td>
          <td>NOMBRE</td>
        </tr>

        <% @estudiantes.each do |estudiante| %>
          <tr>
            <td><%=h estudiante.codigoEstudiante %></td>
            <td><%=h estudiante.nombreEstudiante %> </td>
          </tr>
      <% end %>
    </table>
    </div>
  </div>
<br/>
  <div class="actions" style="clear:both">
    <br/>
    <%= f.submit 'Guardar' %>
    <%= link_to 'Regresar', compromisos_path %>
  </div>
<% end %>
</div>