<p style="color: red"><%= notice %></p>

<h1>COMPROMISOS</h1>
<br/>
<%= link_to 'Crear compromiso', new_compromiso_path %>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%=  link_to 'Regresar', teses_path %>
<br/>
<br/>
  <div class="container">
    <div class="CSSTableGenerator">
      <table>
        <tr>
          <td width="10%">Asunto</td>
          <td width="25%">Descripcion</td>
          <td width="10%">Fecha Limite</td>
          <td width="20%">Responsables</td>
          <td width="10%">Estado</td>
          <td width="15%" colspan="2">Acciones</td>
        </tr>
        <% @compromisos.each do |compromiso| %>
          <tr>
              <td><%= link_to compromiso.asunto, compromiso%></td>
              <td><%= compromiso.descripcionCompromiso %></td>
              <td><%= compromiso.fechaLimite %></td>
              <td>
                            <% vec_Responsable = Estudiante.find_by_sql('SELECT E.codigoEstudiante,
                                                                                E.nombreEstudiante
                                                                           FROM estudiantes E
                                                                               ,compromisos_estudiantes CE
                                                               WHERE E.id = CE.estudiante_id
                                                                 AND CE.compromiso_id = ' + compromiso.id.to_s) %>

                            <% for j in 0...vec_Responsable.length%>
                              <%=  vec_Responsable[j][:codigoEstudiante] %><%=" - "%> <%= vec_Responsable[j][:nombreEstudiante] %><br/>
                            <% end %>
                          </td>
                          <td>
                          <% if(compromiso.finalizado = 0) %>
                            <% if(compromiso.fechaLimite >= Date.today) %>
                              <%="PENDIENTE"%>
                            <% else %>
                              <%="VENCIDO"%>
                            <% end %>
                          <% else %>
                            <%="FINALIZADO"%>
                          <% end %>
                          </td>
                          
                        <td><%= link_to 'Modificar', edit_compromiso_path(compromiso) %></td>
                        <td><%= link_to 'Eliminar', compromiso, :method => :delete, data: { confirm: 'Esta seguro que desea eliminar el compromiso ?' } %></td>
                        </tr>
                      <%end%>
             </table>
            </div>
            <br></br>
   
  </div>
