<h1>Crear compromiso</h1>

<%= form_for(@compromiso) do |f| %>
  <% if @compromiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compromiso.errors.count, "error") %> no es posible grabar el compromiso:</h2>

      <ul>
      <% @compromiso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asunto %><br />
    <%= f.text_field :asunto %>
  </div>

  <div class="field">
   &nbsp;<%= f.label :fechaLimite %><br />
    <%= f.date_select :fechaLimite %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br />
    <%= f.text_area :descripcionCompromiso, :size => "99x5" %>
  </div>
  <div class="field">
    <p align="center"><strong>Asignar responsables</strong></p>
 <table align="left" border="1" width="80%" cellpadding="0" cellspacing="0">
        <tr>
          <td>SELECCION</td>
          <td>CODIGO</td>
          <td>NOMBRE</td>
        </tr>

        <% @estudiantes.each do |estudiante| %>
          <tr>
            <td><%= check_box_tag 'estudiante_ids[]', estudiante.id %></td>
            <td><%=h estudiante.codigoEstudiante %></td>
            <td><%=h estudiante.nombreEstudiante %> </td>
          </tr>
      <% end %>
    </table>
  </div>
<br/>
  <div class="actions">
    <%= f.submit 'Guardar' %>
    <%= link_to 'Regresar', compromisos_path + "?tesisId=#{@tesis.id}" %>
  </div>
<% end %>