<h1>Crear compromiso</h1>
<br/>
<%= form_for(@compromiso) do |f| %>
  <% if @compromiso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@compromiso.errors.count, "Error") %> no es posible grabar el compromiso:</h2>

      <ul>
      <% @compromiso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="CSS_Form">
  <strong><%= label_tag :Tesis %></strong><br/>
  
  <% if params[:tesisId].nil? %>
    <div class="field">
    
      <%= select_tag 'teses_id',
          options_from_collection_for_select(Tese.find(:all, :conditions => ["Finalizado = 0 OR Finalizado IS NULL"], :order => ["nombreTesis ASC"]), :id, :nombreTesis),
          :size => 5,
          :style => 'width:800px',
          :onclick =>'javascript:location.href="' + new_compromiso_path + '?tesisId=" + this.value'
      %>
    </div>
      <br/>
    <div class="actions" style="clear:both">
      <br/>
      <%= link_to 'Regresar', compromisos_path %>
    </div>
  <% else %>
    <%= text_field(:tesis, :nombreTesis, :size => 70, :onfocus=>'blur();') %>

    <div class="field">
      <br/>
      <strong><%= f.label :Asunto %></strong><br />
      <%= f.text_field :asunto, :size=> 70 %>
    </div>

    <div class="field">
      <br/>
      <strong><%= f.label "Fecha Límite" %></strong><br />
      <%= f.date_select :fechaLimite %>
    </div>
    <div class="field">
      <br/>
      <strong><%= f.label "Descripción" %></strong><br />
      <%= f.text_area :descripcionCompromiso, :size => "96x3" %>
    </div>
    <%  if @estudiantes.any? %>
      <div class="field">
        
        <p align="center" style="color:#ff7f00"><strong>Asignar responsables</strong></p>
        <div class="CSSTableGenerator">
        <table align="left" border="1" width="90%" cellpadding="0" cellspacing="0">
          <tr>
            <td>SELECCION</td>
            <td>CODIGO</td>
            <td>NOMBRE</td>
          </tr>

          <% @estudiantes.each do |estudiante| %>
            <tr>
              <td><%= check_box_tag 'estudiante_ids[]', estudiante.id %></td>
              <td><%=h estudiante.codigoEstudiante %></td>
              <td><%=h estudiante.nombreEstudiante %> </td>
            </tr>
          <% end %>
        </table>
        </div>
      </div>
    <% end %>
    <br/>
    <div class="actions" style="clear:both">
      <br/>
      <%  if @estudiantes.any? %>
        <%= f.submit 'Guardar' %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
      <% end %>
      <%= link_to 'Regresar', compromisos_path %>
    </div>
    
  <% end %>
<%  end %>
  </div>