<p id="notice" style="color: red"><%= notice %></p>
<h3 align="center">CONSULTA COMPROMISO</h3>
<br/>
<div class="container">
<div class="CSSTableGenerator">
<table align="center" width="100%" border="1" cellspacing="0">
  <tr>
    <td><strong>Asunto:</strong></td>
    <td> <%=h @compromiso.asunto %></td>
  </tr>
  <tr>
    <td><strong>Descripcion:</strong></td>
    <td><%=h @compromiso.descripcionCompromiso %></td>
  </tr>
  <tr>
    <td><strong>Fechalimite:</strong></td>
    <td><%=h @compromiso.fechaLimite %></td>
  </tr>
  <tr>
    <td><strong>Estado</strong></td>
    <td>
      <%if(@compromiso.finalizado == false or @compromiso.finalizado == nil)%>
        <% if(@compromiso.fechaLimite >= Date.today) %>
            <%="PENDIENTE"%>
        <% else %>
            <%= "VENCIDO" %>
        <% end %>
        <%else%>
            <%="FINALIZADO"%>
        <%end%>
    </td>
  </tr>
  <tr>
    <td><strong>Reponsable(s):</strong></td>
    <td>
      <% @estudiantes.each do |est| %>
        <%=h est.codigoEstudiante %><%=" - "%><%=h est.nombreEstudiante %>
        <br/>
      <%end%>
    </td>
</tr>
<tr>
  <td><strong>Tesis:</strong></td>
  <td><%=@tesis.nombreTesis%></td>
</tr>
</table>
</div>
</div>
<br/>
<%= link_to 'Actualizar', edit_compromiso_path(@compromiso) %> |
<%= link_to 'Regresar', compromisos_path %>