<%= form_for(@estudiante) do |f| %>
  <% if @estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
      <% @estudiante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombreEstudiante %><br />
    <%= f.text_field :nombreEstudiante %>
  </div>
  <div class="field">
    <%= f.label :codigoEstudiante %><br />
    <%= f.text_field :codigoEstudiante %>
  </div>
  <div class="field">
    <%= f.label :correoElectronico %><br />
    <%= f.text_field :correoElectronico %>
  </div>
  <div class="field">
    <%= f.label :disponibilidadHoraria %><br />
    <%= f.text_field :disponibilidadHoraria %>
  </div>
  <div class="field">
    <%= f.label :tesis_id %><br />
    <%= f.number_field :tesis_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
