<% if notice != nil %>
<div class="success">
<h4><p id="notice"><%= notice %></p></h4>
</div>
<% end %>

<div class="container">
<div class="CSSTableGenerator">
<table align="center" width="100%" border="1" cellspacing="0">
  <tr>
    <td>Estudiante:</td>
    <td><%=h @estudiante.nombreEstudiante %></td>
  </tr>
  <tr>
    <td>Codigo:</td>
    <td><%=h @estudiante.codigoEstudiante %></td>
  </tr>
  <tr>
    <td>Correo:</td>
    <td><%=h @estudiante.correoElectronico %></td>
  </tr>
  <tr>
    <td>"Disponibilidad Horaria:"</td>
    <td><%=h @estudiante.disponibilidadHoraria %></td>
  </tr>


</table>
</div>
</div>
<br/>
<%= link_to 'Menu Tesis', teses_path() %> |