<h1>Modificar Reunion</h1>
<br />

<%= form_for(@reunion) do |f| %>
  <% if @reunion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reunion.errors.count, "error") %> prohibited this reunion from being saved:</h2>

      <ul>
      <% @reunion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="CSS_Form">
    <strong><%= label_tag "Tesis" %></strong>
    <br/>
   <%= text_field(:tesis, :nombreTesis, :size => 70, :onfocus=>'blur();') %>
  <div class="field">
    <br/>
    <strong><%= f.label :"Asunto "%></strong><br />
    <%= f.text_field :asunto_reu , :size => 70 %><br />
  </div>
  <div class="field">
    <br/>
    <strong><%= f.label :Lugar %></strong><br />
    <%= f.text_field :lugar, :size => 70 %><br />
  </div>
  <div class="field">
    <br/>
    <strong><%= f.label :"Fecha y Hora " %></strong><br />
    <%= f.datetime_select :fecha_reu, :order =>[:day, :month,:year]  %><br />
  </div>
  <div class="field">
    <br/>
    <strong><%= f.label :"Duración " %></strong><br />
    <%= f.time_select :duracion_reu %><br />
  </div>

 <% if @asistentes.any? %>
      <!--div class="field"-->
        <p align="center" style="color:#ff7f00"><strong>Asistentes</strong></p>
        <table align="left" border="0" width="50%" cellpadding="0" cellspacing="0">
          <!--tr>
            <td>NOMBRE</td>
          </tr-->

          <% @asistentes.each do |asistente| %>
            <tr>
              <td><%=h asistente.Nombre %></td>
            </tr>
          <% end %>
        </table>
      <!--/div-->
    <% end %>
      <p>&nbsp;</p>
</div>
  <div class="actions" style="clear:both;">
    <br/>
    <%= f.submit 'Guardar'%>
    <%= link_to 'Menu Reuniones', reunions_path %>
  </div>


<%  end %>