<% if notice != nil %>
<div class="success">
<h4><p id="notice"><%= notice %></p></h4>
</div>
<br/>
<% end %>
<h1>REUNIONES</h1>
<br>
  <%= link_to 'Programar Reunion', new_reunion_path %>
&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
<%=  link_to 'Regresar', teses_path %>
</br>
<br>
<div class="CSSTableGenerator">
<table border="1" cellpadding="10">
  <tr>
    <td> Asunto </td>
    <td> Fecha </td>
    <td> Duración </td>
    <td> Lugar </td>
    <td> Asistentes </td>
    <td> Modificar </td>
    <td> Eliminar </td>
  </tr>
<% @reunions.each do |reunion| %>
  <tr>
    <td><%= link_to reunion.asunto_reu, reunion %></td>
    <td><%= reunion.fecha_reu.strftime("%d-%b-%Y [ %I:%M %p ]") %></td>
    <td><%= reunion.duracion_reu.strftime("%I:%M ( hh:mi )") %></td>
    <td><%= reunion.lugar %></td>
    <% vec_Asistentes = Reunion.find_by_sql("SELECT P.nombre
                                               FROM Profesors P
                                                   ,Reunions_Estudiantes ER
                                              WHERE P.id = ER.estudiante_id
                                                AND ER.reunion_id = " + reunion.id.to_s +
                                            " UNION ALL " +
                                            "SELECT E.nombreEstudiante nombre
                                               FROM Estudiantes E
                                                   ,Reunions_Estudiantes ER
                                              WHERE E.id = ER.estudiante_id
                                                AND ER.reunion_id = " + reunion.id.to_s)%>
    <td>
    <% vec_Asistentes.each do |asistente| %>
      <%= asistente.nombre %><br/>
    <% end %>
    </td>
    <td><%= link_to 'Modificar', edit_reunion_path(reunion) %></td>
    <td><%= link_to 'Eliminar', reunion, :metdod => :delete, data: { confirm: 'Esta seguro que desea eliminar la reunion ?' } %></td>
  </tr>
<% end %>
</table>
</div>
</br>

