<p style="color: red"><%= notice %></p>
<h3 align="center">CONSULTA REUNIÓN</h3>
<br/>
<div class="container">
<div class="CSSTableGenerator">
<table align="center" width="100%" border="1" cellspacing="0">
  <tr>
    <td>Asunto:</td>
    <td><%=h @reunion.asunto_reu %></td>
  </tr>

  <tr>
    <td>Fecha y Hora:</td>
    <td><%=h @reunion.fecha_reu.strftime("%d-%b-%Y [ %I:%M %p ]") %></td>
  </tr>

  <tr>
    <td>Duración:</td>
    <td><%=h @reunion.duracion_reu.strftime("%I:%M ( hh:mi )") %></td>
  </tr>

<tr>
  <td>Lugar:</td>
  <td><%=h @reunion.lugar %></td>
</tr>

<tr>
  <td>Asistentes</td>
  <td>
      <% @asistentes.each do |est| %>
        <%=h est.nombre %>
        <br/>
      <%end%>
 </td>
</tr>
</table>
</div>
</div>
<br/>
<%= link_to 'Modificar', edit_reunion_path(@reunion) %> |
<%= link_to 'Regresar', reunions_path %>