  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>

<% if notice != nil %>
<div class="success">
<h4><p id="notice"><%= notice %></p></h4>
</div>
<br/>
<% end %>

<h1>TESIS</h1>
<br>
<%= link_to 'Nueva Tesis', new_tese_path %>
</br>
<br>
<div class="CSSTableGenerator">
<table border="1" cellpadding="10">
  <tr>
    <td width="20%"> Tesis </td>
    <td width="10%"> Area <br>Investigación </br></td>
    <!--td> Descripcion </td-->
    <td width="15%"> Estudiantes </td>
    <td width="5%"> Estado </td>
    <td width="10%"> Fecha Inicio </td>
    <td width="10%"> Fecha Fin </td>
    <td width="30%" colspan="5"> Acciones </td>
  </tr>
<% @teses.each do |tese| %>
  <tr>
    <td><%= link_to tese.nombreTesis, tese %></td>
    <td><%= tese.areaInvestigacion %></td>
    <% vec_estudiante = Estudiante.find(:all, :conditions => [ "tesis_id = ?", tese.id])%>
    <%estudiantes=""%>
    <%  for i in 0...vec_estudiante.length%>
	<% estudiantes=estudiantes + vec_estudiante[i][:nombreEstudiante] + " "%>
    <%end%>
    <td><%= estudiantes %></td>
    <td><%if(tese.finalizado == false)%>
            <%="Activa"%>
          <%else%>
            <%="Finalizada"%>
        <%end%> </td>
    <td><%= tese.fechaInicio %></td>
    <td><%= tese.fechaFin %></td>
    <td><%= link_to 'Crear compromiso', new_compromiso_path + "?tesisId=#{tese.id}"%></td>
    <td><%= link_to 'Crear Reunion', new_reunion_path + "?tesisId=#{tese.id}" %></td>
    <td><%= link_to 'Agregar Estudiante', new_estudiante_path + "?tesisId=#{tese.id}"%></td>
    <td><%= link_to 'Modificar', edit_tese_path(tese) %></td>
    <td><%= link_to 'Eliminar', tese, :method => :delete, data: { confirm: 'Esta seguro que desea eliminar la tesis ?' } %></td>
  </tr>
<% end %>
</table>
</div>
<br/>


