<%= form_for(@tese) do |f| %>
  <% if @tese.errors.any? %>
<div class ="error">
    <div id="error_explanation">
      <h4><%= pluralize(@tese.errors.count, "error") %> grabando tesis:</h4>

      <ul>
      <% @tese.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
</div>
  <% end %>
<h1>Nueva Tesis</h1>

<div class="CSS_Form">
  <div class="field">
    <strong><%= f.label :Tesis %></strong><br />
    <%= f.text_field :nombreTesis, "size" => 100 %><br /><br />
  </div>
  <div class="field">
    <strong><%= f.label :"Area Investigación" %></strong><br />
    <%= f.text_field :areaInvestigacion, "size" => 100 %><br /><br />
  </div>
  <div class="field">
    <strong><%= f.label :"Descripción:" %></strong><br />
    <%= f.text_area :descripcionTesis,  {:class=>"text-input", :size=>"76x4", :max=>"600"}  %><br /><br />
  </div>
  <div class="field">
    <strong><%= f.label :"Fecha Inicio:" %></strong><br/>
    <%= f.date_select :fechaInicio, :order =>[:day, :month,:year] %>
  </div>
  <div class="field">
    <br/>
    <strong><%= f.label :"Fecha Fin: " %></strong><br/>
    <%= f.date_select :fechaFin,  :order =>[:day, :month,:year] %><br /><br />
  </div>
  <!--div class="field">
    <strong><%#= f.label :"Tesis Finalizada" %></strong>
    <%#= f.check_box :finalizado %><br /><br />
  </div-->
  <div class="field">
            <% @profesor = Profesor.find(:first) %>
            <%= hidden_field_tag :profesor_id, @profesor.id %>
  </div>
  <div class="actions" style="clear:both;">
    <br/>
    <%= f.submit 'Guardar'%>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to 'Menu Tesis', teses_path %>
  </div>
  <%end%>

</div>