<% if notice != nil %>
<div class="success">
<h4><p id="notice"><%= notice %></p></h4>
</div>
<% end %>
<h1>Consulta Tesis</h1>
<div class="CSSTableGenerator">
<table align="center" width="100%" border="1" cellspacing="0">
<tr>
  <td>Tesis:</td>
  <td><%= @tese.nombreTesis %></td>
</tr>

<tr>
  <td>Area Investigación:</td>
  <td><%= @tese.areaInvestigacion %></td>
</tr>
<tr>
  <td>Fecha inicio:</td>
  <td><%= @tese.fechaInicio %></td>
</tr>

<tr>
  <td>Fecha fin:</td>
  <td><%= @tese.fechaFin %></td>
</tr>

<tr>
  <td>Descripcion tesis:</td>
  <td><%= @tese.descripcionTesis %></td>
</tr>

<tr>
  <td>Tesis finalizada:</td>
  <td>
    <%if(@tese.finalizado == false)%>
            <%="Activa"%>
          <%else%>
            <%="Finalizada"%>
        <%end%>
  </td>
</tr>
<tr>
  <td>Profesor:</td>
  <td><%= @profesor.nombre %></td>
</tr>
<!--tr>
  <td>Estudiantes</td>
  <td>
    <%# @estudiantes = Estudiante.find_by_sql('SELECT DISTINCT
                                                  E.nombreEstudiante
                                             FROM Estudiantes E
                                            WHERE E.Tesis_id = ' + @tese.id.to_s) %>
    <%# @estudiantes.each do |est| %>
      <%#= est.nombreEstudiante %><br/>
      <%#= est.nombreEstudiante %>
    <%# end %>
  </td>
</tr-->
</table>
</div>
<br/>
<%= link_to 'Editar', edit_tese_path(@tese) %> |
<%= link_to 'Menu Tesis', teses_path %>
