<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Compromisos: <%= controller.action_name %></title> <%= stylesheet_link_tag 'style' %>
    <link id="theme" rel="stylesheet" type="text/css" href="style.css" title="theme" />
  </head>
  <body>
    <div id="wrapper">
      <div id="bg">
        <div id="header"></div>
        <div id="page">
          <div id="container">
            <!-- banner -->
            <div id="banner"></div>
            <!-- end banner -->
            <!-- horizontal navigation -->
            <div id="nav1">
              <ul>
                <li>
                  <%= link_to 'TESIS', teses_path %>
                </li>
                <li>
                  <%= link_to 'REUNIONES', reunions_path %>
                </li>
                <li id="current" style="border:none">
                  <%= link_to 'COMPROMISOS', compromisos_path %>
                </li>
              </ul>
            </div>
            <!-- end horizontal navigation -->
            <!--  content -->
            <div id="content">

              <div id="center">
                <%= yield %>

              </div>
              </div>
              <div class="clear" style="height:20px"></div>
            </div>
            <!-- end content -->
          </div>
          <!-- end container -->
        </div>
        <div id="footerWrapper">
          <div id="footer">
            <p style="padding-top:10px">
              <!--
DO NOT REMOVE OR MODIFY THE FOOTER LINK BELOW.
If you want to remove this link please make a 10 dollars donation at www.dotemplate.com
-->
              <a href="http://uniandes.edu.co/" shape="rect">Universidad de Los Andes</a>
            </p>
          </div>
        </div>
      </div>
  </body>
</html>

